.container {
  max-width: 1450px !important;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.bgColor {
  background: #0a131e;
}

.bg_gradient {
  background: linear-gradient(to left, #00fff0, #d8ee34);
}

.bg_gradient1 {
  background: linear-gradient(to left, #fc52b5, #34eee3);
}

.bg_gradientB {
  background: linear-gradient(to top, #161b22, #273240);
}

.bg_gradientG {
  background: url('/img/gbg.png');
}

.bgt {
  background-position: top -2px center;
}

.bgl {
  background: linear-gradient(to right, #474ef8, #f4c5ca);
}

.bgd {
  background: linear-gradient(to left, #4302c2, #795ac8);
}

.bgdi {
  background: linear-gradient(to right, #19222d, #09121d);
}

/* src/styles.css */
.gradient-border {
  position: relative;
  z-index: 1;
}

.gradient-border::before {
  content: "";
  position: absolute;
  top: -1px; /* Adjust based on your border width */
  left: -1px; /* Adjust based on your border width */
  right: -1px; /* Adjust based on your border width */
  bottom: -1px; /* Adjust based on your border width */
  background: linear-gradient(
    90deg,
    #444cf9,
    #f5c6ca
  ); /* Adjust gradient colors */
  z-index: -1;
  border-radius: inherit;
}

.gradient-border > .content {
  position: relative;
  z-index: 1;
  background: linear-gradient(to right, rgb(54 22 115), rgb(98 64 104));
}
